body{
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0.75%;
    font-family: 'Ubuntu', sans-serif;
    background-color:#f9f9fd;
}
a:hover,a:link,a:visited{
    color: black;
    text-decoration: none;
    font-size: 12pt;
}
.red{
    color: #ED002F;
}
.log{
    font-size: 24pt;
}
.login{
    float: right;

}
.nophoto{
    width: 37px;
    height: 37px;
}
.logi{
    position: relative;
    bottom: 10pt;
    right: 5pt;
}
.naviga,.naviga:hover,.naviga:link,.naviga:visited{
    font-weight: bold;
    color: #6f6f6f;
    font-size: 16pt;
    display: block;
    padding-top: 7px;

}
.nav{
    display: inline-block;
    margin-top: 20px;
    width: 120pt;
    height: 200pt;
    background-color: #dedede;
    border-radius: 5%;
}
.naviga{
    position: relative;
    top: 10px;
    left: 10px;
}
.article{
    position: relative;
    width:100%;
    height: 200px;
    display: inline-block;
    float: right;
    margin-top: 40px;
    box-shadow: -23px 19px 20px 2px rgba(114, 114, 114, 0.2);
    background-color: #fffffb;
}
.divinity{
    float: right;
    width:65%;
    height: 1500px;
}
.art{
    width: 37.5%;
    height: 100%;
    display: flexbox;
}
.desc{
    vertical-align: top;
    display: flexbox;
    position: relative;
    width: 40%;
    color: #949494;
}
.artext{
    display: inline-block;
    width: 100%;
    height: 60%;
    vertical-align: top;
    margin-left: 10px;
    margin-top: 10px;
    overflow: hidden;
}
.bloginfo{
    display: inline-block;
    width: 59%;
    height: 95%;
    vertical-align: top;
    margin-left: 10px;
    margin-top: 10px;
    overflow: hidden;
}
.bloginf a:link,.bloginf a:visited{
    color: #909090;
    text-decoration: none;
    font-size: 12pt;
}
.bloginf a:hover{
    color: #ED002F;
}
a.title:hover, a.title:link, a.title:visited{
    font-weight: bold;
    font-size: 20pt;
    display: inline-block;
    vertical-align: top;
    color: black;
}
.dis .fa-thumbs-up{
    transform: rotate(180deg);
}
.rate{
    display: inline-block;
    float: right;
}
.date{
    font-size: 10pt;
    color: #949494;
}
.s{
    margin-left: 10px;
}
.paginator{
    display: inline-block;
    width: 100%;
    height: 100px;
    text-align: center;
}
.paginator a:link,.paginator a:visited{
    font-size: 18pt;
    margin: 0;
    padding: 0;
    width: 45px;
    height: 30px;
    color: black;
    background-color: #dedede;
    display: inline-block;
    
}
.paginator a:hover{
    color: white;
    background-color: #ED002F;
}
.paginator .leftpudge a:hover,.paginator .leftpudge a:link,.paginator .leftpudge a:visited{
    border-radius: 10px 0 0 10px;
}
.paginator .rightpudge a:hover,.paginator .rightpudge a:link,.paginator .rightpudge a:visited{
    border-radius:0 10px 10px 0;
}
.profile{
    margin-top: 40px;
    width: 65%;
    height: 250px;
    display: inline-block;
    float: right;
    background-color: #fffffb;
    box-shadow: -23px 19px 20px 2px rgba(114, 114, 114, 0.2);
}
.pphoto{
    height: 100%;
    width: 300px;
}
.name{
    font-size: 250%;
    vertical-align: top;
    margin-bottom: 1%;
    color: black;
    display: inline-block;
    margin-bottom: 10%;
}
.profilebox{
    vertical-align: top;
    display: inline-block;
    font-size: 12pt;
    margin-left: 2%;
    margin-top: 2%;
    line-height: 170%;
    color: #949494;
    font-weight: 400;
}